body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 8px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}
.container>* {
    flex: 1,1,auto;
    border: 1px solid blue;
}